@import "node_modules/bootstrap/scss/bootstrap.scss";


/*  * { border: 1px solid black; } */

$global-nav-bg:                #417505;
$global-nav-button-bg:         $brand-primary;
$global-nav-button-hover-bg:   darken($brand-primary, 2%);
$global-nav-button-active-bg:  #72a137;
$global-nav-color:             #cbddb4;
$global-nav-color-active:      #fff;

$link-color:                   #707070;

a:link, a:visited, a:hover, a:active {
  color: $link-color;
  text-decoration: none;
}

#banner {
  margin-bottom: 5px;
}

#logo {
  color: #000;
  font-family: 'Yanone Kaffeesatz', 'YanoneKaffeesatz-Light', sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  float: left;
}

#support-nav {
  font-size: .9rem;
  margin-left: 360px;
  margin-top: 25px;
  float: right;
}

#support-nav a {
   color: #000;
}

#support-nav ul {
  list-style-type: none;
}

#support-nav li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid 1px #979797;
}

#support-nav li.last {
  padding-right: 0;
  border-right: 0;
}

#global-nav {
  border-radius: $border-radius-sm $border-radius-sm 0 0;
  background-color: $global-nav-bg;
}

#global-nav nav ul {
  font-size: .92rem;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 0;
}

#global-nav nav li {
  float: left;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 16px;
}

#global-nav nav li a { 
  display: block;
  color: $global-nav-color;
  text-align: center;
  padding: 3px 14px;
  border-radius: $border-radius-sm;
  text-decoration: none;
  background-color: $global-nav-button-bg;
}

#global-nav nav li a.active {
  color: $global-nav-color-active;
  background-color: $global-nav-button-active-bg;
}

#global-nav nav li a.active:hover {
  background-color: $global-nav-button-active-bg;
}

#global-nav nav li a:hover {
  text-decoration: none;
  background-color: $global-nav-button-hover-bg;
}

#filter-panel {
  background-color: #f0f0f0;
  padding: 0;
}

#filter-panel h6 {
  background-color: #e0e0e0;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 12px;
  font-weight: bold;
  font-size: .95rem;
}

#filter-panel .checkbox {
  margin-bottom: .125rem;
}

#filter-panel .checkbox input[type=checkbox] {
  position: relative;
}

.filter-list {
  list-style-type: none;
  font-size: .9rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: .5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.filter-count {
  font-size: .6rem;
  color: #8c8c8c;
  margin-left: .1rem;
}

#data-panel {
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#data-panel table {
  font-size: .9rem;
  table-layout: fixed;
}

#data-panel table th {
  border-top: none;
}

#data-panel table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#data-panel table tr.selected {
  background-color: #e8e8e8;
}

#data-panel .top-controls {
  margin-top: 12px;
  margin-bottom: 60px;
}

#data-panel .dropdown-menu {
  padding: 0;
  font-size: .9rem;
}

#data-panel .search-container {
  float: right;
  width: 275px;
}

#data-panel .data-footer .record-count {
  font-size: .9rem;
  font-weight: bold;
  float: left;
}

#data-panel .data-footer .selection-count {
  font-size: 90%;
  font-weight: normal;
}

#data-panel .pagination {
  margin-top: 0;
  margin-right: 20px;
}

#data-panel .pagination .page-link {
  color: #000;
  background-color: #FFF;
}

#data-panel .pagination li a {
  border: 0;
  text-decoration: none;
}

#data-panel .pagination li.page-item a:hover {
  color: #000;
  background-color: #fff;
}

#data-panel .pagination li.page-item.active a {
  color: #000;
  background-color: #e9e9e9;
  border-radius: $border-radius-sm;
}

#footer {
  margin-bottom: 5rem;
}


/* 
 * #content and #content .panel are hacks
 * to workaround columns not displaying the 
 * same height.
 */
#content {
  background-color: #fff;
/* display: table; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5)
}

#content .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/* Bootsrap overrides */

.btn-sm {
  border: none;
}

.btn-primary:link, .btn-primary:visited, .btn-primary:active {
  color: #fff;
  background-color: $brand-primary;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: darken($brand-primary, 3%);
  border: none;
}

.btn-primary:active:hover {
  color: #fff;
  background-color: darken($brand-primary, 6%);
  border: none;
}

.btn-secondary:link, .btn-secondary:visited, .btn-secondary:active {
  color: #707070;
  background-color: #e9e9e9;
  border: none;
}

.btn-secondary:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border: none;
}

.btn-warning:link, .btn-warning:visited, .btn-warning:active {
  color: #fff;
  background-color: $brand-warning;
  border: none;
}

.btn-warning:hover, .btn-warning:focus {
  color: #fff;
  background-color: darken($brand-warning, 3%);
  border: none;
}

.btn-warning:active:hover {
  color: #fff;
  background-color: darken($brand-warning, 6%);
  border: none;
}

.btn-danger:link, .btn-danger:visited, .btn-danger:active {
  color: #fff;
  background-color: $brand-danger;
  border: none;
}

.btn-danger:hover, .btn-danger:focus {
  color: #fff;
  background-color: darken($brand-danger, 3%);
  border: none;
}

.btn-danger:active:hover {
  color: #fff;
  background-color: darken($brand-danger, 6%);
  border: none;
}

.form-control-sm {
  line-height: 1.3;
}

.form-group {
  margin: 0;
}

.input-group-addon {
  padding: 0.25rem 0.75rem;
}

label {
  margin-top: .3rem;
  margin-bottom: 0;
}

.radio-inline {
  vertical-align: baseline;
}

.radio-inline + .radio-inline {
  margin-top: .3rem;
}

/* Gets rid of evil negative margins */
.row {
  margin-left: 0;
  margin-right: 0;
}

.alert {
  font-size: .85rem;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.form-control-label {
  padding: 0;
}

/* Gets rid of the modal animation (but keeps the fade) */
.modal.fade, .modal.fade .modal-dialog {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.modal-dialog {
  margin: 150px auto;
}

.modal-header {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-header .close {
  margin: 0;
}

.modal-footer {
  text-align: left;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* This is to make the datepicker plugin look a little nicer */
.dropdown-menu {
  padding: 5px 10px;
}

.datepicker table tr td.active.active {
  background-image: none;
  background-color: $brand-primary;
}

.datepicker table tr td.active:hover.active {
  background-color: $brand-primary;
}

.datepicker table tr td span.active.active {
  background-image: none;
  background-color: $brand-primary;
}

.datepicker table tr td span.active:hover:hover {
  background-color: $brand-primary;
}

/* need to set year, decade, and century active */


/* Misc */

.col-fff {
  background-color: #fff;
}

.col-e0 {
  background-color: #e0e0e0;
}

#detail {
  font-size: .9rem;
}

#detail h6 {
  background-color: #e0e0e0;
  padding-top: 8px;
  font-weight: bold;
  font-size: .95rem;
}

#detail .breadcrumb {
  margin: 0;
  padding-top: .75rem;
  padding-left: 0;
  padding-bottom: 1.5rem;
  font-size: .95rem;
  background-color: #fff;
}

#detail .breadcrumb .active {
  color: $link-color;
}

#detail .preform {
  margin-top: 1.25rem;
}

#detail .preform .divider {
  margin-left: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #e0e0e0;
}

#detail .first {
  padding-top: 1rem;
}

#detail .last {
  padding-bottom: 2rem;
}

#detail .detail-container {
  padding-bottom: 1.5rem;
  margin-left: .975rem;
  margin-right: .975rem;
  margin-top: .975rem;
  background-color: #f5f5f5;
}

#detail .revision-history-title {
  font-weight: bold;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: .975rem;
  margin-right: .975rem;
  margin-top: .975rem;
  background-color: #f5f5f5;
}

#detail .revision-history-title a {
  color: #373a3c;
}

#detail .revision-history {
  padding-bottom: .5rem;
  margin-left: .975rem;
  margin-right: .975rem;
  background-color: #f5f5f5;
  display: none;
}

#detail .detail-label {
  padding-top: .5rem;
  padding-right: .4rem;
  font-weight: bold;
  text-align: right;
}

#detail .detail-value {
  padding-top: .5rem;
}

#detail .form-group .detail-value {
  padding-left: .25rem;
  padding-right: 0;
}

#detail hr.before {
  margin-top: .75rem;
}

#detail hr.after {
  margin-top: 1.25rem;
}

#detail .actions {
  margin-bottom: 2rem;
  background-color: #fff;
}

#detail .actions button {
  margin-right: .3rem;
}

#detail table {
  font-size: .9rem;
  table-layout: fixed;
}

#detail table th {
  border-top: none;
}

#detail table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
  font-size: .9rem;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
  background-color: #ededed;
  min-width: 700px;
}

@media(max-width:992px){
  #data-panel .search-container {
    width: 200px;
  }
}

/* Get rid of borders around focused elements in Firefox */
*:focus, *:visited, *:active, *:hover  { outline:0 !important;}
*::-moz-focus-inner {border:0;}
