/*  * { border: 1px solid black; } */

$brand-primary:             #4f8d06 !default;
$brand-warning:             #d1a842 !default;
$brand-danger:              #d16642 !default;

$gray-light:                #e0e0e0 !default;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$border-radius-sm:               .25rem !default;

$btn-secondary-color:            #707070 !default;
$btn-secondary-bg:               #e9e9e9 !default;

$state-success-text:             #fff !default;
$state-success-bg:               #72a137 !default;
$state-success-border:           darken($state-success-bg, 5%) !default;

$state-warning-text:             #fff !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           darken($state-warning-bg, 5%) !default;

$state-danger-text:              #fff !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            darken($state-danger-bg, 5%) !default;

$modal-sm:                       400px !default;

@import "node_modules/bootstrap/scss/bootstrap.scss";

$global-nav-bg:                #417505;
$global-nav-button-bg:         $brand-primary;
$global-nav-button-hover-bg:   darken($brand-primary, 2%);
$global-nav-button-active-bg:  #72a137;
$global-nav-color:             #cbddb4;
$global-nav-color-active:      #fff;

$content-bg:                   #f7f7f7;
$link-color:                   #707070;


a:link, a:visited, a:hover, a:active {
  color: $link-color;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
  background-color: #ededed;
}

/* -------------------------------------------
Sign In/Out
------------------------------------------- */

#sign-in-panel {
  max-width: 430px;
  margin: 0 auto;
  padding: 2.5rem 4rem;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5)
}

#sign-in-panel h4 {
  font-family: 'Yanone Kaffeesatz', 'YanoneKaffeesatz-Light', sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  color: #4a4a4a;
}

.failed-login {
  color: $brand-danger;
  margin-bottom: .5rem;
}

/* -------------------------------------------
Header & Footer
------------------------------------------- */

#banner {
  margin-bottom: 5px;
}

#logo {
  color: #000;
  float: left;
  margin-top: -.9rem;
  margin-bottom: .5rem;
  margin-left: -.2rem;
  margin-right: .6rem;
}

#support-nav {
  font-size: .8rem;
  margin-left: 360px;
  margin-top: 5px;
  float: right;
}

#support-nav a {
   color: $gray-dark;
}

#support-nav ul {
  list-style-type: none;
}

#support-nav li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid 1px #979797;
}

#support-nav li.last {
  padding-right: 0;
  border-right: 0;
}

#footer {
  margin-bottom: 5rem;
}

/* -------------------------------------------
Global Navigation
------------------------------------------- */

#global-nav {
  border-radius: $border-radius-sm $border-radius-sm 0 0;
  background-color: $global-nav-bg;
}

#global-nav nav ul {
  font-size: .92rem;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 0;
}

#global-nav nav li {
  float: left;
  margin-top: .6rem;
  margin-bottom: .6rem;
  margin-right: .5rem;
}

#global-nav nav li a { 
  display: block;
  color: $global-nav-color;
  text-align: center;
  padding: 3px 12px;
  border-radius: $border-radius-sm;
  text-decoration: none;
}

#global-nav nav li a.active {
  color: $global-nav-color-active;
  background-color: $global-nav-button-active-bg;
}

#global-nav nav li a.active:hover {
  background-color: $global-nav-button-active-bg;
}

#global-nav nav li a:hover {
  text-decoration: none;
  background-color: $global-nav-button-hover-bg;
}

/* -------------------------------------------
Filter Panel
------------------------------------------- */

#filter-panel {
  background-color: $content-bg;
  padding: 0 10px;
}

#filter-panel h6 {
  border-bottom: 1px dashed #c7c7c7;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 12px;
  font-weight: bold;
  font-size: .95rem;
}

#filter-panel .checkbox {
  margin-bottom: .125rem;
}

#filter-panel .checkbox input[type=checkbox] {
  position: relative;
}

.filter-list {
  list-style-type: none;
  font-size: .9rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: .5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.filter-count {
  font-size: .6rem;
  color: #8c8c8c;
  margin-left: .1rem;
}

/* -------------------------------------------
Data Panel
------------------------------------------- */

/* A chrome rendering bug workaround */
#search {
  height: 29px;
}

#data-panel {
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#data-panel table {
  font-size: .9rem;
  table-layout: fixed;
}

#data-panel table th {
  border-top: none;
}

#data-panel table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#data-panel table tr.selected {
  background-color: #e8e8e8;
}

#data-panel .top-controls {
  margin-top: 12px;
  margin-bottom: 60px;
}

#data-panel .dropdown-menu {
  padding: 0;
  font-size: .9rem;
}

#data-panel .search-container {
  float: right;
  width: 275px;
}

#data-panel .search-container .form-control {
  border: 1px solid $gray-light;
}

#data-panel .search-container .input-group-addon {
  background-color: #fff;
  border: 1px solid $gray-light;
  border-right: 0;
}

#data-panel .data-footer .record-count {
  font-size: .9rem;
  font-weight: bold;
  float: left;
}

#data-panel .data-footer .selection-count {
  font-size: 90%;
  font-weight: normal;
  background-color: #818a91;
}

#data-panel .pagination {
  margin-top: 0;
  margin-right: 20px;
}

#data-panel .pagination .page-link {
  color: $gray-dark;
  background-color: #fff;
}

#data-panel .pagination li a {
  border: 0;
}

#data-panel .pagination li.page-item a:hover {
  color: $gray-dark;
  background-color: #fff;
}

#data-panel .pagination li.page-item.active a {
  color: $gray-dark;
  background-color: #fff;
  border-radius: $border-radius-sm;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

@media(max-width:992px){
  #data-panel .search-container {
    width: 200px;
  }
}

/* -------------------------------------------
Record Details
------------------------------------------- */

#detail {
  font-size: .9rem;
}

#detail h6 {
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

#detail .breadcrumb {
  margin: 0;
  padding-top: .75rem;
  padding-left: 0;
  padding-bottom: 1.5rem;
  font-size: .95rem;
  background-color: $content-bg;
}

#detail .breadcrumb .active {
  color: $link-color;
}

#detail .breadcrumb li::before {
  color: #707070;
}

#detail .preform {
  margin-top: 0;
}

#detail .preform .divider {
  margin-left: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #e0e0e0;
}

#detail .first {
  padding-top: 1rem;
}

#detail .last {
  padding-bottom: 2rem;
}

#detail .detail-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-left: .975rem;
  margin-right: .975rem;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#detail .related-container {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-left: .975rem;
  margin-right: .975rem;
  margin-bottom: 1.25rem;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#detail .revision-history-title {
  font-weight: bold;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: .975rem;
  margin-right: .975rem;
  margin-top: .975rem;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#detail .revision-history-title a {
  color: $gray-dark;
  text-decoration: none;
}

#detail .revision-history {
  padding-top: .6rem;
  padding-bottom: .5rem;
  margin-left: .975rem;
  margin-right: .975rem;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: none;
}

#detail .detail-label {
  padding-top: .5rem;
  padding-right: .4rem;
  font-weight: bold;
  text-align: right;
}

#detail .detail-value {
  padding-top: .5rem;
}

#detail .form-group .detail-value {
  padding-left: .25rem;
  padding-right: 0;
}

#detail hr {
  border-top: 1px dashed #c7c7c7
}

#detail hr.before {
  margin-top: .75rem;
}

#detail hr.after {
  margin-top: 1.25rem;
}

#detail .actions {
  margin-bottom: 2rem;
  background-color: $content-bg;
}

#detail table {
  margin-bottom: 0;
  font-size: .9rem;
  table-layout: fixed;
}

#detail table th {
  border-top: none;
}

#detail table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------------------------------
Data Import
------------------------------------------- */

.file-select-label {
  margin-left: 4px;
  margin-bottom: 2px;
}

.upload-form-error {
  margin-left: 4px;
  display: none;
}

.import-spinner {
  vertical-align: middle;
  margin-left: .5rem;
}

.import-modal-body {
  margin-bottom: 1rem;
  height: 90px;
}

#audio-import-dialog {
  width: 400px;
  transition: width .5s;
}

#audio-import-dialog-content {
  width: 400px;
  transition: width .5s;
}

#audio-import-step-2 .modal-body {
  transition: height .5s;
  overflow-x: scroll;
  overflow-y: scroll;
}

#audio-import-step-3 .modal-body {
  transition: height .5s;
  overflow-x: scroll;
  overflow-y: scroll;
}

#audio-upload-data-container {
  width: 665px;
}

#audio-import-result-container {
  width: 665px;
}

.empty-required {
  border: 1px solid #d16642;
  width: 100%;
  border-radius: .25rem;
}

/* -------------------------------------------
Data Export
------------------------------------------- */

.export-modal-body {
  margin-bottom: 1rem;
  height: 40px;
  transition: height .5s;
  overflow-y: scroll;
}

#data-export-fields-container .col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

#data-export-fields-container .col-xs-6 {
  padding-left: .5rem;
}

.export-spinner {
  vertical-align: middle;
  margin-left: .5rem;
}

/* -------------------------------------------
Bootstrap Overrides
------------------------------------------- */

.btn-sm {
  border: none;
}

.btn-primary:link, .btn-primary:visited, .btn-primary:active {
  color: #fff;
  background-color: $brand-primary;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: darken($brand-primary, 3%);
  border: none;
}

.btn-primary:active:hover {
  color: #fff;
  background-color: darken($brand-primary, 6%);
  border: none;
}

.btn-secondary {
  color: $gray-dark;
  background-color: #fff;
  border: 1px solid $gray-light;
}

.btn-secondary:active:hover, .btn-secondary:active:focus {
  color: $gray-dark;
  background-color: darken($gray-light, 6%);
  border: 1px solid darken($gray-light, 6%);
}

.open > .btn-secondary.dropdown-toggle, .open > .btn-secondary.dropdown-toggle:focus, .open > .btn-secondary.dropdown-toggle:hover  {
  color: $gray-dark;
  background-color: darken($gray-light, 6%);
  border: 1px solid darken($gray-light, 6%);
}

.btn-secondary:link, .btn-secondary:visited, .btn-secondary:active {
  color: $gray-dark;
  background-color: #fff;
  border: 1px solid $gray-light;
}

.btn-secondary:hover {
  color: $gray-dark;
  background-color: scale-color($gray-light, $lightness: 30%);
  border: 1px solid scale-color($gray-light, $lightness: 30%);
}

.btn-secondary:focus {
  color: $gray-dark;
  background-color: scale-color($gray-light, $lightness: 10%);
  border: 1px solid scale-color($gray-light, $lightness: 10%);
}

.btn-warning:link, .btn-warning:visited, .btn-warning:active {
  color: #fff;
  background-color: $brand-warning;
  border: none;
}

.btn-warning:hover, .btn-warning:focus {
  color: #fff;
  background-color: darken($brand-warning, 3%);
  border: none;
}

.btn-warning:active:hover {
  color: #fff;
  background-color: darken($brand-warning, 6%);
  border: none;
}

.btn-danger:link, .btn-danger:visited, .btn-danger:active {
  color: #fff;
  background-color: $brand-danger;
  border: none;
}

.btn-danger:hover, .btn-danger:focus {
  color: #fff;
  background-color: darken($brand-danger, 3%);
  border: none;
}

.btn-danger:active:hover {
  color: #fff;
  background-color: darken($brand-danger, 6%);
  border: none;
}

.form-control-sm {
  line-height: 1.3;
}

.form-group {
  margin: 0;
}

.input-group-addon {
  background-color: #e9e9e9;
  padding: 0.25rem 0.75rem;
}

label {
  margin-top: .3rem;
  margin-bottom: 0;
}

.radio-inline {
  vertical-align: baseline;
}

.radio-inline + .radio-inline {
  margin-top: .3rem;
}

/* Gets rid of evil negative margins */
.row {
  margin-left: 0;
  margin-right: 0;
}

.alert {
  font-size: .85rem;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.form-control-label {
  padding: 0;
}

/* Gets rid of the modal animation (but keeps the fade) */
.modal.fade, .modal.fade .modal-dialog {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.modal hr {
  border-top: 1px dashed #E0E0E0;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.modal-dialog {
  margin: 150px auto;
}

.modal-header h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.modal-header {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-header .close {
  margin: 0;
}

.modal-body {
  font-size: .9rem;
}

.modal-footer {
  text-align: left;
  font-size: .9rem;
}

.popover {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
}

.popover-title { 
  display: none;
}

.popover-content {
  padding: 4px 10px;
}

tr:hover {
 background-color: $content-bg;
}

/* 
 * #content and #content .panel are hacks
 * to workaround columns not displaying the 
 * same height.
 */
#content {
  background-color: $content-bg;
  /*display: table;*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#content .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/* -------------------------------------------
Datepicker Plugin
------------------------------------------- */

.datepicker table tr td.active.active {
  background-image: none;
  background-color: $brand-primary;
}

.datepicker table tr td.active:hover.active {
  background-color: $brand-primary;
}

.datepicker table tr td span.active.active {
  background-image: none;
  background-color: $brand-primary;
}

.datepicker table tr td span.active:hover:hover {
  background-color: $brand-primary;
}

/* Makes the datepicker plugin look nicer */
.dropdown-menu {
  padding: 5px 10px;
}

/* need to set year, decade, and century active */

/* -------------------------------------------
Autocomplete Plugin
------------------------------------------- */

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
  font-size: .9rem;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

/* -------------------------------------------
Miscellaneous
------------------------------------------- */

// The following 3 must be after the bootstrap overrides
.btn-file-select {
  border: 1px solid #ccc;
  border-right: none;
  padding: .19rem 0.75rem;
  margin-top: 0;
}

.btn-file-select:hover  {
  border: 1px solid #ccc;
  border-right: none;
}

.btn-file-select:active:hover  {
  border: 1px solid #ccc;
  border-right: none;
}

.centered {
  text-align: center;
}

.col-fff {
  background-color: #fff;
}

.col-e0 {
  background-color: #e0e0e0;
}

button {
  margin-right: .3rem;
}

/* Get rid of borders around focused elements in Firefox */
*:focus, *:visited, *:active, *:hover  { outline:0 !important;}
*::-moz-focus-inner {border:0;}
