<dataConfig>
	<dataSource driver="com.mysql.jdbc.Driver" type="JdbcDataSource"
		url="jdbc:mysql://localhost:3306/junebug" user="root" password="" />
		<document>
			<!-- this entity is the 'root' entity. -->
			<entity name="audio_visual_item" query="select * from audio_visual_items" deltaQuery="select id from item where updated_at > '${dataimporter.last_index_time}'">
				<field column="NAME" name="name" />
	<!-- This entity is nested and reflects the one-to-many relationship between an item and its multiple features. Note the use of variables; ${item.ID} is the value of the column 'ID' for the
	current item ('item' referring to the entity name) -->
	<entity name="feature"
		query="select DESCRIPTION from FEATURE where ITEM_ID='${item.ID}'" deltaQuery="select ITEM_ID from FEATURE where last_modified > '${dataimporter.last_index_time}'"
		parentDeltaQuery="select ID from item where ID=${feature.ITEM_ID}">
		<field name="features" column="DESCRIPTION" />
	</entity>

	<entity name="item_category"
		query="select CATEGORY_ID from item_category where ITEM_ID='${item.ID}'"
		deltaQuery="select ITEM_ID, CATEGORY_ID from item_category where last_modified > '${dataimporter.last_index_time}'"
		parentDeltaQuery="select ID from item where ID=${item_category.ITEM_ID}">
		<entity name="category" query="select DESCRIPTION from category where ID = '${item_category.CATEGORY_ID}'"
			deltaQuery="select ID from category where last_modified > '${dataimporter.last_index_time}'"
			parentDeltaQuery="select ITEM_ID, CATEGORY_ID from item_category where CATEGORY_ID=${category.ID}">
			<field column="description" name="cat" />
		</entity>
	</entity>
</entity>
</document>
</dataConfig>